{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}登陆{% endblock %}

{% block title4 %}active{% endblock %}

{% block head %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main" style="text-align: center">
        <h3 class="login-title">登陆</h3>
        <form action="" method="post">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <div class="form-container">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户名" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" name="password">
                </div>
                <label class="radio-inline" style="margin-bottom: 15px">
                    <input type="radio" name="option" id="inlineRadio1" value="user"> 普通用户
                </label>
                <label class="radio-inline" style="margin-bottom: 15px">
                    <input type="radio" name="option" id="inlineRadio2" value="admin"> 管理员
                </label>
                <div class="form-group">
                    <button class="btn btn-block btn-primary">登陆</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}