.main {
    text-align: center;
}

.option-title {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.radio-inline {
    margin-bottom: 5px;
}

.top-1 {
    margin-top: 10px;
}

.top-2 {
    margin-top: 10px;
}

